<div class="">
    {{!-- about contack r shob data amra ei jumbo common component e padhiye style kore dibo jekhane drkr atake 
    <jumkbo> boshiye dibo tahole component kom lagbe ata reuse korte parbo jah jah lage vhitore diye padhiye dibo
    sheta ei yeild e boshe jabe (contack, about theke onno component e padhlae aro kichu o add korte parbo) --}}
    {{yield}}
</div>