{{page-title "HomeBanner"}}
{{!-- {{outlet}} --}}
<div class=" my-auto mx-auto w-75 ps-5">
    <h1 class=" title fw-bolder w-full ">Welcome to Super Rentals!</h1>
    <p class="fs-5">We hope you find exactly what you are looking for in a place to stay</p>
    <button type="button" class="btn btn-primary btn-md px-5 py-2 fw-bolder text-white">
        <LinkTo class="text-white text-decoration-none" @route="about">About Us</LinkTo>
    </button>
</div>
<div class=" mx-auto w-25">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxszoj9oqPxej-YEpa7WHcUnpVDqrmVt_8cg&usqp=CAU"
        alt="">
</div>